article {
  margin: auto;
  max-width: 50%;
  text-align: left;
  padding: 0 2em;
  font-size: 1.5rem;
}

.votes {
  font-size: 1.5rem;
  display: inline;
}

.votes h3 {
  padding: 0;
  margin: 0;
}

/* .votes button {
  display: inline;
} */
