.mainArticles {
  margin: auto;
  padding-right: 1em;
  max-width: 50%;
  text-align: left;
  font-size: 16px;
  color: #9ba0b3;
  font-family: ibm-plex-mono, sans-serif;
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .mainArticles {
    max-width: 80%;
    padding: 0;
  }
}

.mainArticles p {
  color: #dddee5;
  border-bottom: 2px solid teal;
  padding-bottom: 15px;
  hyphens: auto;
}

/* h3,
h4 {
  color: #f4f1d0;
} */

.votes {
  font-size: 1.5rem;
  display: inline;
}

.votes h3 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.comments {
  text-align: left;
  font-size: 1.3em;
}

.articleTitle {
  color: #dddee5;
}

.comments ul {
  padding: 0;
  margin: auto;
  margin-top: 30px;
  width: 50%;
  list-style: none;
}

.commentBox {
  color: #9ba0b3;
  font-family: ibm-plex-mono, sans-serif;
  /* border: 1px solid teal; */
}

.commentBody {
  font-size: 16px;
  margin: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  border-bottom: 2px solid teal;
  padding-bottom: 15px;
}

.commentInfo {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.commentInfo p {
  color: #9ba0b3;
  margin: 0;
  margin-top: 10px;
  flex: 1 1 0px;
}

.infoDate {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.commentPadding {
  padding: 15px;
}

.comment {
  color: #dddee5;
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.deleteComment {
  flex: 1 1 0px;
  font-family: ibm-plex-mono, sans-serif;
  background-color: transparent;
  border: none;
  color: #9ba0b3;
  font-size: 16px;
}

.deleteComment:hover {
  color: #dddee5;
  cursor: pointer;
}

.comments h5 {
  margin: 0 1rem;
  display: inline;
  padding-right: 2em;
}

@media (max-width: 1050px) {
  .comments h5 {
    display: block;
  }
}

@media (max-width: 800px) {
  .comments li {
    max-width: 80%;
  }
}

.postComment {
  margin: auto;
  text-align: center;
  border: 0;
}

.postComment h3 {
  margin: 0;
}

.postComment h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

form {
  display: inline;
}

textarea {
  margin: 0;
  margin-top: 2em;
  /* margin-bottom: 1em; */
  font-family: ibm-plex-mono, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-bottom: 2px solid teal;
  background-color: transparent;
  color: #9ba0b3;
  font-size: 16px;
  resize: none;
  word-wrap: break-word;
  word-break: break-all;
}

textarea:focus {
  outline: none;
}

.topicLink {
  all: unset;
  color: teal;
}

.topicLink:hover {
  cursor: pointer;
  color: #dddee5;
}

.loader {
  text-align: center;
  display: block;
}

.postComment {
  display: flex;
  /* width: 50%; */
  justify-content: center;
  align-items: center;
}

.post {
  margin-left: 1.5em;
  font-family: ibm-plex-mono, sans-serif;
  background-color: transparent;
  border: 1px solid teal;
  color: #9ba0b3;
  font-size: 16px;
  width: 170px;
  padding: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.post:hover {
  color: #dddee5;
  cursor: pointer;
}

.voteButton {
  margin-left: 0.5em;
  font-family: ibm-plex-mono, sans-serif;
  background-color: transparent;
  border: 1px solid teal;
  color: #9ba0b3;
  font-size: 16px;
  width: 80px;
  height: 40px;
  padding: 0;
  padding-bottom: 4px;
  padding-top: 2px;
}

.voteHeart {
  color: #d2232f;
}

.voteButton:hover {
  color: #dddee5;
  cursor: pointer;
}

.voteButton:hover .voteHeart {
  color: #dddee5;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.voteButtonClicked {
  margin-left: 0.5em;
  font-family: ibm-plex-mono, sans-serif;
  background-color: transparent;
  border: 1px solid teal;
  color: #9ba0b3;
  font-size: 16px;
  width: 80px;
  height: 40px;
  padding: 0px;
  padding-bottom: 4px;
  padding-top: 2px;
  color: #9ba0b3;
}

.voteButtonClicked:hover {
  margin-left: 0.5em;
  font-family: ibm-plex-mono, sans-serif;
  background-color: transparent;
  border: 1px solid teal;
  color: #9ba0b3;
}

.lengthCounter {
  font-size: 10px;
  margin: 2px auto;
  display: block;
}

.envelope {
  font-size: 10px;
  display: block;
  margin: 0 auto;
}

.fa-pen {
  margin-right: 3px;
}

.errorPara {
  font-family: ibm-plex-mono, sans-serif;
  color: #9ba0b3;
  font-size: 16px;
  display: block;
  text-align: center;
}
